:root {
  --primary-color: #2a6171;
  --secondary-color: #75cac3;
  --tertiary-color: #f0b32e;
  --quaternary-color: #d7f7f5;
}

video {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
body {
  font-family: "Englebert", "Afacad Flux";
  font-style: normal;
  font-weight: 600;
}

.weather-app {
  background: var(--quaternary-color);
  border-radius: 16px;
  box-shadow: 10px 10px 10px var(--secondary-color);
  margin: 15px auto;
  margin: 15px auto;
  max-width: 850px;
  padding: 10px;
  width: 90%;
}

.red {
  color: #ff0000;
}
.blue {
  color: blue;
}

/* Search Bar */
.search-form-input {
  background-color: var(--secondary-color);
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 10px 10px;
  width: 70%;
}

.search-form-button {
  background: var(--primary-color);
  border-radius: 6px;
  border: none;
  color: var(--tertiary-color);
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  padding: 10px 10px;
  width: 28%;
}

header {
  align-items: center;
  border-bottom: 1px solid var(--tertiary-color);
  padding: 0 0 10px 0;
}

.location {
  color: var(--primary-color);
  font-size: 55px;
  line-height: 55px;
  padding: 15px 0 0 0;
  text-align: center;
  text-shadow: 2px 0 var(--tertiary-color), -2px 0 var(--tertiary-color),
    0 2px var(--tertiary-color), 0 -2px var(--tertiary-color),
    1px 1px var(--tertiary-color), -1px -1px var(--tertiary-color),
    1px -1px var(--tertiary-color), -1px 1px var(--tertiary-color);
}

/*Left Box: Date, Weather Description, Temperature*/
main {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

/*Left*/
.left-box {
  color: var(--primary-color);
  text-align: center;
}

.date-time {
  font-size: 35px;
  line-height: 35px;
  margin: 0;
  padding: 10px 0;
}

.main-weather-flex {
  display: flex;
  justify-content: center;
}

.left-box-inner,
.right-box-inner {
  width: 200px;
}

.right-box-inner {
  margin-top: 40px;
}

.current-temp {
  font-size: 120px;
  font-weight: bold;
}

.img-description-today,
.unit-type {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}

/*toggle*/
.units {
  background-color: var(--primary-color);
  border-radius: 30px;
  border: 1px solid var(--tertiary-color);
  box-shadow: inset 0px -1px 5px var(--tertiary-color);
  color: var(--tertiary-color);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 1.5;
  margin: 10px auto;
  padding: 2px 10px;
  position: relative;
  width: 100px;
}

.units input {
  appearance: none;
  border-radius: 30px;
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.units input:focus-visible {
  margin: 0px auto;
}

.units-text {
  padding: 4px 0px;
  user-select: none;
}

.units-button {
  border-radius: 30px;
  box-shadow: inset 0px -1px 5px var(--tertiary-color);
  height: 32px;
  pointer-events: none;
  position: relative;
  width: 55px;
}

.units-button::after {
  background-color: var(--tertiary-color);
  border-radius: 30px;
  box-shadow: 0px 1px 2px var(--tertiary-color);
  content: "";
  height: 25px;
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: 200ms cubic-bezier(0.96, -0.11, 0, 1.12);
  width: 25px;
}

.units input:checked ~ .units-button::after {
  transform: translate3d(22px, -50%, 0);
}

/*Middle Box*/
.middle-box {
  align-items: flex-end;
}

.todays-info {
  background-color: var(--secondary-color);
  border-radius: 6px;
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 20px;
  padding: 10px 10px;
  text-align: left;
  margin: 12px 0;
}

.label {
  text-shadow: 2px 0 var(--tertiary-color), -2px 0 var(--tertiary-color),
    0 2px var(--tertiary-color), 0 -2px var(--tertiary-color),
    1px 1px var(--tertiary-color), -1px -1px var(--tertiary-color),
    1px -1px var(--tertiary-color), -1px 1px var(--tertiary-color);
}

.hi-low-today {
  font-size: 20px;
  text-align: center;
}
/*Right Box Compass*/
.right-box {
  align-items: flex-end;
}
.compass {
  background-color: var(--tertiary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  margin: 0 20px;
  position: relative;
  width: 200px;
}

.compass-lable {
  border-radius: 6px;
  border: none;
  color: var(--primary-color);
  font-size: 35px;
  font-weight: bold;
  height: 20px;
  line-height: 35px;
  margin: 0;
  padding: 10px 10px;
  text-align: center;
}
.compass-needle {
  background: linear-gradient(
    109.6deg,
    var(--secondary-color) 5%,
    var(--quaternary-color) 95%
  );
  border-radius: 5px;
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%);
  width: 10px;
}

.degree-label {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  line-height: 20px;
  position: absolute;
  top: 13px;
  transform: translateX(-50%);
}

.direction-label {
  bottom: 10px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  line-height: 20px;
  position: absolute;
  transform: translateX(-50%);
}

/*Bottom box Forcast*/
.forecast {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}
.bottom-box-forecast {
  background-color: var(--secondary-color);
  border-radius: 6px;
  border: none;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
  width: 120px;
}

.forecast-day {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 10px 0 0 0;
  text-shadow: 2px 0 var(--tertiary-color), -2px 0 var(--tertiary-color),
    0 2px var(--tertiary-color), 0 -2px var(--tertiary-color),
    1px 1px var(--tertiary-color), -1px -1px var(--tertiary-color),
    1px -1px var(--tertiary-color), -1px 1px var(--tertiary-color);
}

.img-description {
  margin: 0;
}

.forecast-inner-box {
  padding: 0;
}
.forecast-info {
  color: var(--quaternary-color);
  text-shadow: 2px 0 var(--primary-color), -2px 0 var(--primary-color),
    0 2px var(--primary-color), 0 -2px var(--primary-color),
    1px 1px var(--primary-color), -1px -1px var(--primary-color),
    1px -1px var(--primary-color), -1px 1px var(--primary-color);
}

.humidity-gauge {
  max-width: 100px;
  padding: 0 10px;
  width: 100%;
}

.humidity-gauge-body {
  background-color: var(--tertiary-color);
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  width: 100%;
}

.humidity-gauge-fill {
  background: var(--primary-color);
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
  width: inherit;
}

.humidity-gauge-cover {
  background: var(--secondary-color);
  border-radius: 50%;
  height: 150%;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  width: 75%;
  /*text*/
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-bottom: 25%;
}

/*Footer*/
footer {
  border-top: 1px solid var(--tertiary-color);
  color: var(--primary-color);
  font-size: 17px;
  padding: 10px 0 0 0;
  text-align: center;
}

.footer {
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: 0 0 1em var(--tertiary-color), 0 0 0.2em var(--tertiary-color);
}

.footer:hover {
  font-size: larger;
}

@media screen and (max-width: 768px) {
  video {
    display: none;
  }

  body {
    background-color: var(--quaternary-color);
  }

  .weather-app {
    box-shadow: none;
    margin: 0 auto;
    width: 100%;
  }
  .search-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .search-form-input {
    width: 65%;
    margin: 0;
  }
  .search-form-button {
    margin: 0;
    width: 30%;
  }
  .location {
    font-size: 40px;
  }
  main {
    display: block;
  }
  .todays-info {
    margin: 3% auto;
    text-align: center;
    width: 80%;
  }
  .compass {
    margin: 5% auto;
  }
  .forecast {
    display: block;
    margin: 0 auto;
  }
  .bottom-box-forecast {
    text-align: center;
    width: 98%;
  }
  .forecast-flex-box {
    display: flex;
    justify-content: space-between;
  }
  .forecast-inner-box {
    width: 100%;
  }
  .forecast-left-box,
  .forecast-right-box {
    width: 50%;
  }
  .img-description,
  .forecast-temp {
    margin: 0 0 10% 0;
  }
  .forecast-info,
  .humidity-gauge {
    margin: 12% auto;
  }
  .forecast-wind {
    margin: 20% 0 0 0;
  }

  footer {
    line-height: 1.5;
  }
}
